JWT_KEY=tu_clave_secreta_jwt
JWT_KEY_ROUTE_SERVICE=tu_clave_secreta_para_routes_api
DEV_MONGO_DB_CONNECTION_URI=mongodb://localhost:27017/nombre_base_datos
DEV_AWS_BUCKET_ACCESS_KEY=tu_access_key
DEV_AWS_BUCKET_SECRET_KEY=tu_secret_key
DEV_AWS_BUCKET_NAME=nombre_bucket